@model Product

@{
    ViewData["Title"] = "Delete "+ Model.Name;
}
<style>
    #product {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }
</style>

<h1>Delete Product</h1>

<h3>Are you sure you want to delete @Model.Name?</h3>
<div>    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Manager">Cancel</a>
    </form>
</div>
