@model Product

@{
    ViewData["Title"] = "Delete "+ Model.Name;
}

<h1>Delete Product</h1>

<h3>Are you sure you want to delete @Model.Name?</h3>
<div>    
    <form asp-action="Delete" method="post" asp-antiforgery="true">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="Name" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Manager">Cancel</a>
    </form>
</div>
