@{ 
    ViewData["Title"] = "About | Sports JAS";
}

<div class="text-center">
    <h2 class="font-weight-bold m-3">About</h2>
    <h5 class="m-3">Sports JAS Technical Supports constantly strives to provide the highest level of </h5>
    <h5 class="m-3">technical support for all products in the Sports JAS family.</h5>
</div>