@model IncidentEditViewModel
@{
    ViewData["Title"] = ViewBag.Action + " Incident";
}

<h2>@ViewBag.Action Incident</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Incident.IncidentId" />
            <div class="form-group">
                <label asp-for="Incident.ProductId" class="control-label"></label>
                <select asp-for="Incident.ProductId" asp-items="Model.Products" class="form-control">
                    <option value="">Select a Product</option>
                </select>
                <span asp-validation-for="Incident.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.CustomerId" class="control-label"></label>
                <select asp-for="Incident.CustomerId" asp-items="Model.Customers" class="form-control">
                    <option value="">Select a Customer</option>
                </select>
                <span asp-validation-for="Incident.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.Title" class="control-label"></label>
                <input asp-for="Incident.Title" class="form-control" />
                <span asp-validation-for="Incident.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.Description" class="control-label"></label>
                <input asp-for="Incident.Description" class="form-control" />
                <span asp-validation-for="Incident.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.TechnicianId" class="control-label"></label>
                <select asp-for="Incident.TechnicianId" asp-items="Model.Technicians" class="form-control">
                    <option value="">Select a Technician</option>
                </select>
                <span asp-validation-for="Incident.TechnicianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.DateOpened" class="control-label"></label>
                <input asp-for="Incident.DateOpened" class="form-control" />
                <span asp-validation-for="Incident.DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.DateClosed" class="control-label"></label>
                <input asp-for="Incident.DateClosed" class="form-control" />
                <span asp-validation-for="Incident.DateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Manager">Cancel</a>
</div>

